version: 2
updates:
    - package-ecosystem: 'gradle'
      directory: '/'
      schedule:
          interval: 'daily'
          time: '07:00'
          timezone: America/New_York
      open-pull-requests-limit: 99
      target-branch: main
    - package-ecosystem: 'github-actions'
      directory: '/'
      schedule:
          interval: 'daily'
          time: '07:00'
          timezone: America/New_York
      open-pull-requests-limit: 99
      target-branch: main
