on:
    pull_request:

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    automerge-dependabot:
        if: github.event.pull_request.user.login == 'dependabot[bot]'
        runs-on: ubuntu-latest
        permissions:
            pull-requests: write
            contents: write
        steps:
            - uses: actions/checkout@v6

            - name: Enable auto-merge for Dependabot PR
              run: gh pr merge --rebase --auto "${{ github.event.pull_request.number }}"
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    biome-fix:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
        steps:
            - uses: actions/checkout@v6
              with:
                  ref: ${{ github.event.pull_request.head.ref }}
                  repository: ${{ github.event.pull_request.head.repo.full_name }}
                  token: ${{ secrets.GITHUB_TOKEN }}

            - uses: jdx/mise-action@v3

            - name: Configure Git
              run: |
                  git config --global user.name "GitHub Actions"
                  git config --global user.email "github-actions@github.com"

            - name: Run Biome Format
              run: |
                  npx @biomejs/biome format --write

                  if [[ -n $(git status --porcelain) ]]; then
                    FIX_BRANCH="fix-${{ github.event.pull_request.number }}-biome"
                    git switch --create $FIX_BRANCH

                    git add --all
                    git commit --message "Apply Biome formatting."
                    git push --force origin $FIX_BRANCH

                    echo "Biome formatting fixes have been pushed to the $FIX_BRANCH branch."
                    exit 1
                  else
                    echo "No changes needed by Biome"
                  fi

    pre-commit-fix:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
        steps:
            - uses: actions/checkout@v6
              with:
                  ref: ${{ github.event.pull_request.head.ref }}
                  repository: ${{ github.event.pull_request.head.repo.full_name }}
                  token: ${{ secrets.GITHUB_TOKEN }}

            - uses: actions/setup-python@v6
              with:
                  python-version: "3.x"

            - uses: jdx/mise-action@v3

            - name: Configure Git
              run: |
                  git config --global user.name "GitHub Actions"
                  git config --global user.email "github-actions@github.com"

            - name: Run pre-commit
              run: |
                  pre-commit run --all-files || true

                  if [[ -n $(git status --porcelain) ]]; then
                    FIX_BRANCH="fix-${{ github.event.pull_request.number }}-pre-commit"
                    git switch --create $FIX_BRANCH

                    git add --all
                    git commit --message "Apply pre-commit fixes."
                    git push --force origin $FIX_BRANCH

                    echo "pre-commit fixes have been pushed to the $FIX_BRANCH branch."
                    exit 1
                  else
                    echo "No changes needed by pre-commit"
                  fi

    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - uses: jdx/mise-action@v3

            - run: ./gradlew buildPlugin

            - uses: actions/upload-artifact@v6
              with:
                  name: plugin
                  path: build/distributions/*.zip

    verify:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - uses: jdx/mise-action@v3

            - name: Run Plugin Verification tasks
              run: ./gradlew verifyPlugin

            - name: Collect Plugin Verifier Result
              if: ${{ always() }}
              uses: actions/upload-artifact@v6
              with:
                  name: pluginVerifier-result
                  path: build/reports/pluginVerifier
