on:
    push:
        tags:
            - '*'

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    release:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v6

            - uses: actions/setup-java@v4
              with:
                  distribution: 'temurin'
                  java-version: '21'

            - uses: gradle/actions/setup-gradle@v5

            - run: ./gradlew buildPlugin

            - uses: softprops/action-gh-release@v2
              with:
                  files: build/distributions/*.zip
                  generate_release_notes: true
